/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

.btn {
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 15px;
    background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.3s linear;
}
  
.btn:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

ngb-modal-backdrop {
    z-index: 1000 !important;
}